body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 1em;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #1ecb495e;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.createGroupBtn {
    margin: 1vw;
    padding: 5px 11px 5px 11px;
    border-radius: 9px;
    background-color: #295550c9;
    color: #fff;
    cursor: pointer;
}

.createGroupForm {
    position: absolute;
    background-color: #25d366;
    padding: 1em;
    border-radius: 0 0 2em 0;
    display: none;
}

.createGroupInput {
    padding: 7px;
    border-radius: 14px;
    width: 90%;
    margin: 0 0 10px 0px;
}

.createGroupForm button {
    margin: 0 0 0 6px;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
    background-color: #25d366;
    color: #fff;
    cursor: pointer;
}

.heading {
    font-weight: bold;
    text-align: center;
    padding: 18px;
    margin: 0;
    background-color: #1ecb4900;
    color: #181414;
    flex-grow: 1; /* Added to make it take available space */
}

.flex {
    display: flex;
}

.groupDiv {
    min-width: 25vw;
}

.groupDiv h4 {
    text-align: center;
}

.groupUl {
    list-style-type: none;
    background-color: beige;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    min-height: 70vh;
}

.groupLi {
    background-color: #e1e1cd;
    border-radius: 15px;
    cursor: pointer;
}

.groupLi:hover {
    background-color: #50f0b5;
}

.groupLi h3 {
    padding: 15px;
}

.groupInfo {
    padding: 0 60px 0px 39px;
}

.addMemberBtn {
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    background-color: #295550c9;
    color: #fff;
    cursor: pointer;
}

.addMemberForm {
    position: absolute;
    padding: 1em;
    background-color: rgb(196, 196, 185);
    border-radius: 0px 20px 20px;
    display: none;
}

.addMemberInput {
    padding: 7px;
    border-radius: 14px;
    width: 90%;
    margin: 0 0 10px 0px;
}

.addMemberForm button {
    margin: 0 0 0 6px;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
    background-color: #295550c9;
    color: #fff;
    cursor: pointer;
}

footer {
    margin-top: 1em;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #1ecb495e;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.msg-form {
    margin: auto;
    width: 60vw;
}

.msg-input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#sendBtn {
    padding: 10px;
    width: 25%;
    border: none;
    background-color: #295550c9;
    color: #fff;
    cursor: pointer;
}

#sendBtn:hover {
    background-color: #55716ec9;
}

.chatUl {
    list-style-type: none;
    width: 60vw;
}

.messageClass {
    background-color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
    width: fit-content;
}
