<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./chat.css">
    <title>ChatApp</title>
</head>
<body class="body-class">
    <header>
        <nav class="nav">
            <ul class="nav-ul">
                <li>
                    <button class="createGroupBtn">Create Group</button>
                    <form id="createGroupForm" class="createGroupForm" style="display:none;" action="">
                        <input type="text" class="createGroupInput" id="createGroupName" placeholder="Enter group name">
                        <button type="submit">Create</button>
                    </form>
                </li>
            </ul>
            <h1 class="heading">Group Chat App</h1>
            <ul class="userInfo">
                <li id="usernameLi"></li>
                <li id="emailLi"></li>
            </ul>
        </nav>
    </header>
    <div class="prompt-div"></div>
    <div class="flex">
        <!-- a div where all the groups and create group option will be -->
        <div class="groupDiv"> 
            <ul class="groupUl">
                <h4>Groups</h4>
            </ul>
        </div>
        <!-- a div where all chats of group will be -->
        <div class="chatDiv">
            <div>
                <nav class="grpInfoNav">
                    <div class="groupInfo"></div>
                    <ul class="grpInfoUl">
                        <li>
                            <button class="addMemberBtn">Add Member</button>
                            <form id="addMemberForm" class="addMemberForm" style="display:none;" action="">
                                <input type="text" class="addMemberInput" placeholder="Enter Email">
                                <button type="submit">Add</button>
                            </form>
                        </li>
                        <li>
                            <button class="showMemberBtn">Show Members</button>
                            <ul class="memberList" id="memberList" style="display:none;"></ul>
                        </li>
                    </ul>
                </nav>

            </div>
            <ul class="chatUl">

            </ul>
        </div>
    </div>
    <footer class="flex">
        <div style="width: 30vw;"></div>
        <form class="msg-form" action="">
            <!-- form with send message button -->
        <form class="msg-form" action="">
            <input type="text" class="msg-input" name="msg" id="msg-input">
            <input type="submit" value="Send" name="sendBtn" id="sendBtn">
        </form>
        <!-- form with send Image button-->
        <form id="sendImgForm" class="sendImgForm" action="">
            <input type="file" id="fileInp" accept="image/*">
            <button type="submit">send Image</button>
        </form>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script src="./chat.js"></script>
</html>